{% extends 'base_layout.html' %}

{% block content %}

                <div class="card mb-4">
                  <div class="card-header">
                    <h3 class="card-title"><button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#customerModel">New Customer</button></h3>
                    <div class="card-tools">
                      <ul class="pagination pagination-sm float-end">
                        {% if customers.has_previous %}
                          <li class="page-item"><a class="page-link px-2" href="?page={{ customers.previous_page_number }}"><</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link disable"> Page {{ customers.number }} of {{ customers.paginator.num_pages }}</a></li>
                          {% if object_list.has_next %}
                            <li class="page-item"><a class="page-link px-2" href="?page={{ customers.next_page_number }}">»</a></li>
                          {% endif %}
                      </ul>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Name</th>
                          <th>Location</th>
                          <th>Email</th>
                          <th style="">Telephone</th>
                          <th style="width: 110px"></th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for cust in customers %}
                        <tr class="align-middle">
                          <td>{{ cust.customer_id }}</td>
                          <td>{{ cust.customer_name }}</td>
                          <td>{{ cust.customer_location }}</td>
                          <td>{{ cust.customer_email }}</td>
                          <td>{{ cust.customer_telephone }}</td>
                          <td>
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add"><i class="bi bi-pencil-square"></i></button>
                                </li>

                                <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" href="{% url 'customer-delete' cust.pk %}" data-placement="top" title="" data-original-title="Delete"><i class="bi bi-trash3"></i></a>
                                </li>
                            </ul>
                          </td>
                        </tr>

                        {% empty %}
                        <tr class="align-middle">
                            <td><span>No objects yet.</span></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>

<div class="modal fade" id="customerModel" tabindex="-1" aria-labelledby="customerModelLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <form method="post">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="customerModelLabel">Register New Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            {{ form.as_p }}
<!--            <button type="submit">Submit</button>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}