

{% extends 'base_layout.html' %}
{% load crispy_forms_filters %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#InventoryModel">New Inventory</button>
          </h3>
          <div class="card-tools">
            <ul class="pagination pagination-sm float-end">
              {% if inventory.has_previous %}
              <li class="page-item">
                <a class="page-link px-2" href="?inventory_page={{ inventory.previous_page_number }}">«</a>
              </li>
              {% endif %}
              <li class="page-item">
                <a class="page-link disable"> Page {{ inventory.number }} of {{ inventory.paginator.num_pages }}</a>
              </li>
              {% if inventory.has_next %}
              <li class="page-item">
                <a class="page-link px-2" href="?inventory_page={{ inventory.next_page_number }}">»</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Available qty</th>
                <th>Location</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for inv in inventory %}
              <tr class="align-middle">
                <td>{{ inv.inventory_id }}</td>
                <td>{{ inv.product }}</td>
                <td>{{ inv.available_quantity }}</td>
                <td>{{ inv.inventory_location }}</td>
                <td>{{ inv.inventory_status }}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button class="btn btn-primary btn-sm rounded-0" type="button" data-bs-toggle="modal"
                          data-bs-target="#InventoryModel" data-inventory-id="{{ inv.inventory_id }}"
                          data-product="{{ inv.product.product_id }}" data-available-quantity="{{ inv.available_quantity }}"
                          data-inventory-location="{{ inv.inventory_location.pk }}" data-inventory-status="{{ inv.inventory_status }}">
                          <i class="bi bi-pencil-square"></i>
                      </button>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn btn-danger btn-sm rounded-0" type="button" data-bs-toggle="modal"
                         data-bs-target="#deleteModal"  data-inv-id="{{ inv.inventory_id }}"
                         data-inv-name="{{ inv.product.product_name }}" data-placement="top" title=""
                         data-original-title="Delete">
                        <i class="bi bi-trash3"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              {% empty %}
              <tr class="align-middle">
                <td colspan="6">No objects yet.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>
</div>

<!-- Create/Update Inventory Modal -->
<div class="modal fade" id="InventoryModel" tabindex="-1" aria-labelledby="InventoryModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'inventory-home' %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="InventoryModelLabel">Create/Update Inventory</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="inventory_id" name="inventory_id">
          {{ form|crispy }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" name="form1" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- confirm_delete.html -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Inventory <span id="objName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="" class="btn btn-danger">Yes, Delete</a>
{#                {% url 'customer-delete' cust.pk %}#}
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block javascripts %}

$('#InventoryModel').on('show.bs.modal', function(event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var inventoryId = button.data('inventory-id');
  var product = button.data('product');
  var availableQuantity = button.data('available-quantity');
  var location = button.data('inventory-location');
  var status = button.data('inventory-status');

  // Update modal fields
  $('#inventory_id').val(inventoryId);
  $('#id_product').val(product);
  $('#id_available_quantity').val(availableQuantity);
  $('#id_inventory_location').val(location);
  $('#id_status').val(status);
});

const deleteModal = document.getElementById('deleteModal');
const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

// Add event listener to the modal to set the customer details
deleteModal.addEventListener('show.bs.modal', function (event) {
    // Get the button that triggered the modal
    const button = event.relatedTarget;
    // Extract the object ID and name from data attributes
    const objId = button.getAttribute('data-inv-id');
    const objName = button.getAttribute('data-inv-name');
    // Set the object name in the modal
    document.getElementById('objName').textContent = objName;
    // Set the href of the confirm delete button to the delete URL
    confirmDeleteBtn.setAttribute('href', '{% url "inventory-delete" 0 %}'.replace('0', objId));
});

{% endblock javascripts %}

