{% extends 'base_layout.html' %}
{% load crispy_forms_filters %}
{% block content %}
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md">
            <div class="card mb-4">
               <div class="card-header">
                  <h3 class="card-title"><button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#productModal">New Product</button></h3>
                  <div class="card-tools">
                     <ul class="pagination pagination-sm float-end">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link px-2" href="?product_page={{ products.previous_page_number }}">«</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link disable"> Page {{ products.number }} of {{ products.paginator.num_pages }}</a></li>
                        <!--                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                        <!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link px-2" href="?product_page={{ products.next_page_number }}">»</a></li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body p-0">
                  <table class="table">
                     <thead>
                        <tr>
                           <th style="width: 10px">#</th>
                           <th>SL No</th>
                           <th>Name</th>
                           <th>Category</th>
                           <th>Supplier</th>
                           <th>Weight in (KG)</th>
                           <th style="">Unit Price</th>
                           <th style="width: 110px"></th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for prod in products %}
                        <tr class="align-middle">
                           <td>{{ prod.product_id }}</td>
                           <td>{{ prod.serial_no }}</td>
                           <td>{{ prod.product_name }}</td>
                           <td>{{ prod.product_category }}</td>
                           <td>{{ prod.product_supplier }}</td>
                           <td>{{ prod.product_weight }}</td>
                           <td>{{ prod.price_per_unit }}</td>
                           <td>
                              <ul class="list-inline m-0">
                                 <li class="list-inline-item">
                                    <button type="button" class="btn btn-primary btn-sm rounded-0" data-bs-toggle="modal" data-bs-target="#productModal"
                                       data-product-id="{{ prod.product_id }}"
                                       data-serial-no="{{ prod.serial_no }}"
                                       data-product-name="{{ prod.product_name }}"
                                       data-product-category="{{ prod.product_category.category_id }}"
                                       data-product-supplier="{{ prod.product_supplier.supplier_id }}"
                                       data-product-weight="{{ prod.product_weight }}"
                                       data-price-per-unit="{{ prod.price_per_unit }}">
                                    <i class="bi bi-pencil-square"></i>
                                    </button>
                                 </li>
                                 <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"  data-prod-id="{{ prod.product_id }}" data-prod-name="{{ prod.product_name }}" data-placement="top" title="" data-original-title="Delete">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                 </li>
                              </ul>
                           </td>
                        </tr>
                        {% empty %}
                        <tr class="align-middle">
                           <td><span>No objects yet.</span></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModelLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <form method="post">
            {% csrf_token %}
            <div class="modal-header">
               <h5 class="modal-title" id="productModelLabel">Register New Product</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <input type="hidden" id="product_id" name="product_id" value="">
               {{ form|crispy }}
               <!--            <button type="submit">Submit</button>-->
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="submit" name="form1" class="btn btn-primary">Save</button>
            </div>
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Product <span id="objName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="" class="btn btn-danger">Yes, Delete</a>
{#                {% url 'customer-delete' cust.pk %}#}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block javascripts %}

document.getElementById('productModal').addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget; // Button that triggered the modal
    var productId = button.getAttribute('data-product-id');
    var serialNumber = button.getAttribute('data-serial-no');
    var productName = button.getAttribute('data-product-name');
    var productCategory = button.getAttribute('data-product-category');
    var productSupplier = button.getAttribute('data-product-supplier');
    var productWeight = button.getAttribute('data-product-weight');
    var pricePerUnit = button.getAttribute('data-price-per-unit');
    // Update modal fields
    document.getElementById('product_id').value = productId;
    document.getElementById('id_product_name').value = productName;
    document.getElementById('id_serial_no').value = serialNumber;
    document.getElementById('id_product_category').value = productCategory;
    document.getElementById('id_product_supplier').value = productSupplier;
    document.getElementById('id_product_weight').value = productWeight;
    document.getElementById('id_price_per_unit').value = pricePerUnit;
});



// Get the modal and the confirm delete form
const deleteModal = document.getElementById('deleteModal');
const confirmDeleteForm = deleteModal.querySelector('form');

// Add event listener to the modal to set the customer details
deleteModal.addEventListener('show.bs.modal', function (event) {
    // Get the button that triggered the modal
    const button = event.relatedTarget;
    // Extract the object ID and name from data attributes
    const objId = button.getAttribute('data-prod-id');
    const objName = button.getAttribute('data-prod-name');
    // Set the object name in the modal
    document.getElementById('objName').textContent = objName;
    // Set the href of the confirm delete button to the delete URL
    confirmDeleteBtn.setAttribute('href', '{% url "product-delete" 0 %}'.replace('0', objId));
});

{% endblock javascripts %}