{% extends 'base_layout.html' %}
{% load crispy_forms_filters %}
{% block content %}
<section class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md">
            <div class="card mb-4">
               <div class="card-header">
                  <h3 class="card-title"><button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#productGroupModal">New Product Category</button></h3>
                  <div class="card-tools">
                     <ul class="pagination pagination-sm float-end">
                        {% if categories.has_previous %}
                        <li class="page-item"><a class="page-link px-2" href="?categories_page={{ categories.previous_page_number }}">«</a></li>
                        {% endif %}
                        <li class="page-item"><a class="page-link disable"> Page {{ categories.number }} of {{ categories.paginator.num_pages }}</a></li>
                        {% if categories.has_next %}
                        <li class="page-item"><a class="page-link px-2" href="?categories_page={{ categories.next_page_number }}">»</a></li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
               <div class="card-body p-0">
                  <table class="table">
                     <thead>
                        <tr>
                           <th style="width: 10px">#</th>
                           <th>Name</th>
                           <th style="width: 110px"></th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for cat in categories %}
                        <tr class="align-middle">
                           <td>{{ cat.category_id }}</td>
                           <td>{{ cat.category_name }}</td>
                           <td>
                              <ul class="list-inline m-0">
                                 <li class="list-inline-item">
                                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-bs-toggle="modal"
                                       data-bs-target="#productGroupModal" data-product-category-id="{{ cat.category_id }}"
                                       data-category-name="{{ cat.category_name }}" >
                                    <i class="bi bi-pencil-square"></i>
                                    </button>
                                 </li>
                                 <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"  data-cat-id="{{ cat.category_id }}" data-cat-name="{{ cat.category_name }}" data-placement="top" title="" data-original-title="Delete">
                                    <i class="bi bi-trash3"></i>
                                    </a>
                                 </li>
                              </ul>
                           </td>
                        </tr>
                        {% empty %}
                        <tr class="align-middle">
                           <td><span>No objects yet.</span></td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="modal fade" id="productGroupModal" tabindex="-1" aria-labelledby="productGroupModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <form method="post">
            {% csrf_token %}
            <div class="modal-header">
               <h5 class="modal-title" id="productGroupModalLabel">Register New Product Group</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <input type="hidden" id="category_id" name="category_id">
               {{ form|crispy }}
               <!--            <button type="submit">Submit</button>-->
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="submit" name="form2" class="btn btn-primary">Save</button>
            </div>
         </form>
      </div>
   </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the customer <span id="catName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDeleteBtn" href="" class="btn btn-danger">Yes, Delete</a>
{#                {% url 'customer-delete' cust.pk %}#}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
// Product Group Modal Autofill
document.getElementById('productGroupModal').addEventListener('show.bs.modal', function (event) {
var button = event.relatedTarget; // Button that triggered the modal
var categoryId = button.getAttribute('data-product-category-id');
var categoryName = button.getAttribute('data-category-name');
// Update modal fields

document.getElementById('category_id').value = categoryId;
document.getElementById('id_category_name').value = categoryName;
});

const deleteModal = document.getElementById('deleteModal');
const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

// Add event listener to the modal to set the customer details
deleteModal.addEventListener('show.bs.modal', function (event) {
    // Get the button that triggered the modal
    const button = event.relatedTarget;
    // Extract the customer ID and name from data attributes
    const catId = button.getAttribute('data-cat-id');
    const catName = button.getAttribute('data-cat-name');
    // Set the customer name in the modal
    document.getElementById('catName').textContent = catName;
    // Set the href of the confirm delete button to the delete URL
    confirmDeleteBtn.setAttribute('href', '{% url "product-category-delete" 0 %}'.replace('0', catId));
});

{% endblock javascripts %}